@import "tailwindcss";

* {
    /* font-family: "Inter"; */
}

:root {
    /* --bg: #000000; */
    --bg: oklch(12.9% 0.042 264.695);
    --text: #FFFFFF;
    --right: #48FF00;
    --wrong: #FF385A;
    --secondary: oklch(20.8% 0.042 265.755);
    --primary: oklch(58.5% 0.233 277.117);
}

@theme {
    --color-bg: var(--bg);
    --color-text: var(--text);
    --color-right: var(--right);
    --color-wrong: var(--wrong);
    --color-secondary: var(--secondary);
    --color-primary: var(--primary);
}

@layer components {
    .option-button {
        @apply bg-text text-bg sm:px-5 py-4 cursor-pointer rounded-2xl font-bold text-sm sm:text-base w-full max-w-xs sm:max-w-full transition-all duration-100 ease-out border-b-4 border-gray-300 active:border-b-0 active:translate-y-1 hover:brightness-105;
    }

    .option-button.bg-right {
        @apply border-green-600;
    }

    .option-button.bg-wrong {
        @apply border-red-700;
    }

    .option-button.bg-primary {
        @apply border-purple-700;
    }

    .option-button:active {
        @apply scale-95 bg-gray-300;
        /* slight shrink + color change on click */
    }

    .home {
        @apply h-screen w-full bg-bg text-gray-800 dark:text-gray-100 overflow-hidden flex flex-col
    }

    .question-container {
        @apply relative snap-start h-full flex flex-col w-full justify-center items-center
    }

    .question-text {
        @apply text-lg sm:text-xl md:text-2xl font-bold mb-6 text-center text-text drop-shadow-lg w-[90%] sm:w-[80%] md:w-[70%] lg:w-[60%] max-w-3xl leading-snug break-words overflow-hidden;
    }
    .social-contain {
        @apply bg-secondary backdrop-blur-sm p-3 cursor-pointer rounded-full transition-all mb-1
    }
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: oklch(20.8% 0.042 265.755);
    /* secondary */
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: oklch(58.5% 0.233 277.117);
    /* primary */
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: oklch(58.5% 0.233 277.117 / 0.8);
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: oklch(58.5% 0.233 277.117) oklch(20.8% 0.042 265.755);
}